<div class="row-fluid">
    <div class="offset1 span10">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
        <p><b>{{signatureCount}}</b> out of <b>{{signatureThreshold}}</b> signatures<p>
        <a class="btn" href="{{url}}">Sign the Petition</a>
    </div>
</div>
